@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,400,1,0");

.icon-20 {
  font-variation-settings: "opsz" 20;
  font-size: theme("fontSize.base");
}

.icon-24 {
  font-variation-settings: "opsz" 24;
  font-size: theme("fontSize.lg");
}

.icon-48 {
  font-variation-settings: "opsz" 48;
  font-size: 48px;
}
