@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* Brand Guide
*/
@layer base {
  h1 {
    @apply text-9xl lg:text-10xl xl:text-11xl;
    font-weight: 500;
  }
  h2 {
    @apply text-6xl lg:text-7xl xl:text-8xl;
    font-weight: 500;
  }
  h3 {
    @apply text-2xl lg:text-4xl xl:text-5xl;
    font-weight: 500;
  }
  h4 {
    @apply text-base lg:text-xl xl:text-3xl;
  }
  h5 {
    @apply text-sm lg:text-base xl:text-lg;
    text-transform: uppercase;
  }
  body {
    @apply text-sm lg:text-base;
  }
  .small {
    @apply text-xs lg:text-sm;
  }
  button {
    @apply text-sm lg:text-base;
  }
  label {
    @apply text-2xs;
    font-weight: 500;
  }
  label.small {
    @apply text-3xs;
    font-weight: 500;
  }
}
