@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* Brand Guide
*/
@layer base {
  /* Typography */
  h1 {
    @apply text-9xl font-medium lg:text-10xl xl:text-11xl;
  }
  h2 {
    @apply text-6xl font-medium lg:text-7xl xl:text-8xl;
  }
  h3 {
    @apply text-2xl font-light lg:text-4xl xl:text-5xl;
  }
  h4 {
    @apply text-base leading-snug lg:text-xl xl:text-3xl;
  }
  h5 {
    @apply text-sm uppercase leading-snug lg:text-base lg:leading-snug xl:text-lg;
  }
  body {
    @apply text-sm lg:text-base;
  }
  p {
    @apply font-light;
  }
  .small {
    @apply text-xs lg:text-sm;
  }
  label {
    @apply text-2xs font-medium;
  }
  label.small {
    @apply text-3xs font-medium;
  }
  .main-content {
    @apply w-full px-[18px] md:px-[80px] lg:px-[5rem] xl:px-[10%];
  }

  /* Buttons */
  .btn {
    @apply text-sm lg:text-base;
    @apply h-[60px] rounded-full;
  }
  .btn.green {
    @apply bg-green hover:shadow-hover-btn hover:shadow-green-shadow;
  }
  .btn.dark {
    @apply bg-black hover:shadow-hover-btn hover:shadow-dark-shadow;
  }
  .btn.light {
    @apply bg-neutral hover:shadow-hover-btn hover:shadow-light-shadow;
  }
}

/* 
* Sticky Navbar
*/
@keyframes stickyNavbar {
  0% {
    opacity: 0.5;
    @apply bg-black;
  }
  100% {
    opacity: 1;
    @apply bg-neutral;
  }
}

@keyframes stickyNavbarScrolled {
  0% {
    opacity: 0.5;
    @apply bg-neutral;
  }
  100% {
    opacity: 1;
    @apply bg-black;
  }
}

.sticky-navbar {
  @apply bg-neutral;
  animation-duration: 0s;
  animation-name: stickyNavbar;
}

.sticky-navbar-dark {
  @apply bg-black;
  position: sticky;
  top: 0;
  animation-duration: 0s;
  animation-name: stickyNavbarScrolled;
}

/*
* Sticky Navbar Text
*/
@keyframes stickyNavbarText {
  0% {
    @apply text-black;
  }
  100% {
    @apply text-white;
  }
}

@keyframes stickyNavbarTextScrolled {
  0% {
    @apply text-white;
  }
  100% {
    @apply text-black;
  }
}

.sticky-navbar-text-white {
  @apply text-white;
  /* animation-duration: 0.2s; */
  animation-name: stickyNavbarText;
}

.sticky-navbar-text {
  /* animation-duration: 0.2s; */
  animation-name: stickyNavbarTextScrolled;
}
